*,
*::before,
*::after {
  margin: 0;
  z-index: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app,
#root {
  width: 100vw;
  display: flex;
  min-width: 320px;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  scrollbar-width: none;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: hsl(32, 67%, 82%);
}

form {
  gap: 1rem;
  width: 750px;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  background-color: whitesmoke;
}

button {
  width: 100%;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
}

.field {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.label {
  color: #333;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.options {
  gap: 1rem;
  display: flex;
}

.option {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

.textarea {
  resize: none;
  padding: 0.5rem;
}

.togglePwdVisibility {
  top: 50%;
  right: 0.5rem;
  width: 1.25em;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.err-txt {
  color: red;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.submit-btn {
  background-color: rgb(59 130 246);
}

.submit-btn:hover {
  background-color: rgb(37 99 235);
}

.reset-btn {
  background-color: rgb(239 68 68);
}

.reset-btn:hover {
  background-color: rgb(220 38 38);
}
